html, body { 
	font-family: 'Arial';
    margin: auto;
	padding: auto;
	max-width: 1200px;
    background-color: rgb(195, 216, 184);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav.main {
    background-color: rgb(225, 225, 225);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center ;
    width: 100%;
}

.general{
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}

.left{
    align-self: flex-start;
}

/* .right{
    align-self: center;
} */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: #0004ff;
}

.post {
    background: #eee;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
    color: #555;
}

div.post .head {
    padding: 5px;
}

div.post p.first {
    margin: 0;
    float: left;
}
div.post p.last {
    margin: 0;
    float: right;
}

p.link-read-post {
	text-align: right;
}
p.link-read-post a {
	padding: 10px;
	min-width: 100px;
	background: #333671;
	color: #fff;
	text-decoration: none;
}