{% load static %}
{% load posts_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'posts/css/styles.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="main">
        <p>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'flatpage_main:about_me' %}">Обо мне</a>
            <a href="{% url 'flatpage_main:contacts' %}">Контакты</a>
            <a href="/admin">Admin-panel</a>
        </p>
    </nav>
    <div class="general">
        {% block nav %}
        <div class="left">
            {% show_cats cat_selected %}
        </div>
        {% endblock nav %}
        <div>
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</body>

</html>